body{
    background-image: url(https://wallpapercave.com/wp/wp2761418.gif);
}

.weatherCard li{
    list-style: none;
    color: aliceblue;
}

.weatherCard h2 {
    text-align: center;
    color: white;
}

.weatherCard {
    display:grid;
    width: 70vw;
    height: auto;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 6px;
    overflow:hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    text-align: left;
    justify-content: center;
    background-color: #191b24;
    opacity: 85%;
}
.buttonConvertion:hover {
    box-shadow:5px 5px 5px #f70202d7;
    transform: translateY(-3%)
}

.weatherCard img {
    margin: auto;
}

.buttonConvertion{
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px
}