body{
    background-image: url(https://wallpapercave.com/wp/wp2761418.gif);
}

.weatherCard li{
    list-style: none;
}

.weatherCard h2 {
    text-align: center;
}

.weatherCard {
    display:grid;
    width: 70vw;
    height: auto;
    margin: 25vh;
    border-radius: 6px;
    overflow:hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    text-align: left;
    justify-content: center;
    background-color: hsl(182, 69%, 38%);
}
.buttonConvertion:hover {
    box-shadow:5px 5px 5px #f70202d7;
    transform: translateY(-3%)
}

.weatherCard img {
    margin: auto;
}

.buttonConvertion{
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}